:root {
  /* Fonts */
  --Roboto: "Roboto", sans-serif;

  /* Colors */
  --hero-footer-bg: #1f2937;
  --hero-main-text-color: #f9faf8;
  --hero-secondary-text-link: #e5e7eb;
  --button-color: #3882f6;
  --header-info-text: #1f2937;
  --info-text-color: #1f2937;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--Roboto);
}

.page-wrapper {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: var(--hero-footer-bg);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-title {
  color: var(--hero-main-text-color);
  font-size: 28px;
  padding-left: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 35px;
  color: var(--hero-secondary-text-link);
  font-size: 18px;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: var(--hero-secondary-text-link);
  cursor: pointer;
}

#hero {
  background-color: var(--hero-footer-bg);
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
}

.hero-div {
  margin-top: 70px;
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-text {
  font-weight: 700;
  font-size: 38px;
  color: var(--hero-main-text-color);
}

p {
  color: var(--hero-secondary-text-link);
  font-size: 18px;
}

button {
  width: 90px;
  height: 40px;
  background-color: var(--button-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.hero img {
  margin-top: 70px;
  border: 1px solid gray;
  width: 400px;
  height: auto;
}

.contents {
  display: flex;
  flex-direction: column;
}

#products {
  height: 500px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  margin-top: 20px;
  font-size: 30px;
  text-decoration: underline;
  color: var(--info-text-color);
}

.product-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.box {
  width:300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.product-img {
  border: 5px solid var(--button-color);
  margin-bottom: 20px;
}

.product-img img {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-text {
  margin-top: 80px;
  color: var(--info-text-color);
  font-size: 20px;
}

#reviews {
  height: 400px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.review-heading {
  font-size: 30px;
  color: var(--info-text-color);
  margin-bottom: 30px;
}

.review-contents {
  width: 700px;
  height: 300px;
  border: 1px solid var(--white);
  background-color: rgba(192, 192, 192, 0.151);
  border-radius: 4px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  overflow-y: auto;
}

.review-contents::-webkit-scrollbar {
  width: 5px;
}

.review-contents::-webkit-scrollbar-track {
  background: rgba(247, 242, 242, 0.925);
  border-radius: 4px;
}

.review-contents::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 4px;
}

.review-contents p {
  font-style: italic;
}

strong {
  color: var(--black);
}

h5 {
  color: #ffffff;
  font-size: 20px;
}

#explore {
  height: 400px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-div {
  background-color: var(--button-color);
  border: none;
  border-radius: 6px;
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore-heading-text {
  font-size: 30px;
  color: var(--hero-secondary-text-link);
}

.explore-btn {
  width: 90px;
  height: 40px;
  border: 2px solid var(--white);
}

footer {
  background-color: var(--hero-footer-bg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 15px;
  font-weight: 200;
  color: var(--white);

}